<!-- <gif-list [gifs]="gifService.trendigGifs()" class="disp"></gif-list> -->

<div
  class="h-screen overflow-y-scroll grid grid-cols-2 md:grid-cols-4 gap-4"
  (scroll)="onScroll($event)"
  #scrollDiv
>
  @for (item of gifService.masonryTrendingGifs(); track $index) {
    <div class="flex flex-col gap-4">
      @for (gif of item; track gif.id) {
        <img
          class="w-full rounded-md"
          src="{{ gif.url }}"
          alt="{{ gif.title }}"
        />
      }
    </div>
  }
</div>
